* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
    --second-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    min-width: 130px;
    border-radius: 999px;

    color: var(--second-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    color: var(--second-color);
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.navbar__active,
.navbar__link:hover {
    color: var(--second-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
    border: 1px solid rgba(0, 9, 88, 0.7);
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__decor-left {
    bottom: 10px;
    left: -58px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #FAA7AD;
    margin: 0 0 -58px -24px;
    border: 2px solid #fde0e2;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-item__info {
    margin-left: 10px;
}

.hero-item__title {
    color: var(--second-color);
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-item__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--second-color);
}

.hero-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    border-radius: 99px;
}

.hero-item:nth-child(3) .hero-item__thumb {
    background: #C6E2FA;
}

.hero__heading {
    color: var(--second-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 24px;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__cta-link {
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 8px;
    padding: 130px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__desc,
.about__heading {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
    transition: box-shadow .25s ease;
}

.about__check-item:hover::before {
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 4.5px;
    content: url(../icons/check.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #FFF;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__card-decor {
    position: absolute;
    top: -37px;
    right: -33px;
}

.about__img-wrap {
    position: relative;
    width: 458px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 290px;
    right: -35px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496A;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    opacity: 1;
    height: 2px;
}

/* Service */
.service {
    margin-top: 60px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__heading {
    margin-top: 15px;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 70px;
}

.service-item {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service-item+.service-item {
    margin-top: 24px;
}

.service-item__heading {
    display: flex;
    align-items: center;
    color: var(--second-color);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    column-gap: 12px;
}

.service-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    gap: 6px;
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin-top: 3px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    height: 350px;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__cta-wrap {
    margin-top: 50px;
    text-align: center;
}

.service__cta {
    min-width: 214px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: box-shadow .25s ease;
}

.service__cta:hover {
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Team */
.team {
    padding: 130px 0;
}

.team__top {
    text-align: center;
}

.team__desc {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.team__heading {
    margin-top: 15px;
}

.team__list {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.team-item {
    text-align: center;
}

.team-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.team-item__img-wrap::before {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 266px;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
    z-index: -1;
}

.team-item__img-wrap::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.team-item:nth-child(1) .team-item__img-wrap::after {
    content: url(../img/team-decor-01.svg);
    bottom: 0;
}

.team-item:nth-child(2) .team-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.team-item:nth-child(2) .team-item__img-wrap::after {
    content: url(../img/team-decor-02.svg);
    top: 20px;
}

.team-item:nth-child(3) .team-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.team-item:nth-child(3) .team-item__img-wrap::after {
    content: url(../img/team-decor-03.svg);
    bottom: 0;
}

.team-item:nth-child(4) .team-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.team-item:nth-child(4) .team-item__img-wrap::after {
    content: url(../img/team-decor-04.svg);
    top: 20px;
}

.team__img {
    display: block;
    width: 235px;
    height: 290px;
    border-radius: inherit;
}

.team-item__desc {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}

.team-item__name {
    margin-top: 14px;
    color: var(--second-color);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.team__cta-wrap {
    margin-top: 48px;
    text-align: center;
}

.team__btn-view {
    min-width: 193px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: #fff;
    transition: box-shadow .25s;
    font-weight: 500;
}

.team__btn-view:hover {
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}